@model GetInTouch.Logic.ViewModels.Post.EditPostViewModel

<input hidden asp-for="PostId"/>

<div class="form-group form-group-dimension">
    <label asp-for="Description"></label>
    <textarea asp-for="Description" class="form-control" style="height: 150px;"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>

<div>
    <input asp-for="NewImage" accept="image/*" type='file' id="edit-post-image" style="position: fixed;" />
    <div>
        @if (String.IsNullOrEmpty(Model.Image))
        {
            <img id="edit-post-image-preview" src="#" alt="your image" height="350" width="450" />
        }
        else
        {
            <img id="edit-post-image-preview" src="~/Images/@Model.Image" alt="your image" height="350" width="450" />
        }
    </div>
</div>